/* styles/main.css */

body {
    background-color: #121212;
    color: #ffffff;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: system-ui, sans-serif;
}

#greeting-text {
    cursor: pointer;
    user-select: none;
    font-size: 3rem;
}

